{% extends 'base.html' %}
{% block content %}
<h2>Suivre d'autres utilisateurs</h2>
<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Confirmer</button>
</form>

<h2>Abonnements</h2>
{% if followed %}
    {% for sub in followed %}
    <div class="follow">
        <p>{{ sub.user }}</p>
        <button>Désabonner - not working</button>
    </div>
    {% endfor %}
{% else %}
    <div class="follow">
        <p>Vous ne suivez personne pour l'instant !</p>
    </div>
{% endif %}



<br>
<br>
<h2>Abonnées</h2>
{% if followed %}
    {% for sub in followed %}
        <div class="follow">
            <p>{{ sub.user }}</p>
        </div>
    {% endfor %}
    {% else %}
        <div class="follow">
            <p>Vous ne suivez personne pour l'instant !</p>
        </div>
{% endif %}
{% endblock %}